/* Menubar */
QMenuBar {background-color:#2d2d30;}
QMenuBar::item {background:transparent; color:#c1c1c1;}
QMenuBar::item:selected {background:#d47e18; color:#f0f0f0;}
/* Menu */
QMenu {background-color:#2d2d30; border:1px solid #d47e18;}
QMenu::item {background:transparent; color:#c1c1c1;}
QMenu::item:selected {color:#d47e18;}
QMenu::separator {background:#d47e18; margin: 3px 5px 3px 5px; height:1px;}
/* ToolBar */
QToolBar {border:0; border-bottom:1px solid #d47e18; background-color:#2d2d30;}
QToolBar::separator {background:#B8B8B8; margin: 4px 7px 4px 7px; width:1px;}
QToolButton {border:0; margin-right:2px; margin-bottom:3px;}
QToolTip {color:#e7e7e7; border:1px solid #d47e18; background-color:#2d2d30;}
/* Fenêtre */
QMainWindow, QDialog {background-color:#28282b;}
QLabel {color:#c1c1c1;}
/* Dock */
QDockWidget {background-color:#1f1f22; color:#B8B8B8;}
QDockWidget::close-button:hover, QDockWidget::float-button:hover {border:0;}
/* ListView */
QTreeView {background-color:#252526; border:1px solid #2d2d30; color:#DBDBDB;}
QTreeView::item:selected {background: #d47e18; border:0; color:#f0f0f0; padding:-1px;}
QTreeView::item:hover {border:0; color:#f0f0f0; padding:-1px;}
/* LineEdit */
QLineEdit {background-color:#1f1f22; border:0;}
QLineEdit:focus {background-color:#d47e18; border:0; color:#f0f0f0;}
/* PushButton */
QPushButton {background-color:#1f1f22; border:0; height:20px; color:#c1c1c1;}
QPushButton:hover {background-color:#d47e18; border:0; color:#f0f0f0;}
QPushButton:pressed {background-color:#d47e18; border:0; color:#f0f0f0;}
/* TabWigdet */
QTabWidget::pane {border-top: 2px solid #d47e18; background-color:#252526;}
QTabBar::tab {color:#c1c1c1; border:0; min-width: 150px; padding: 3px; margin-bottom:-1px;}
QTabBar::tab:selected, QTabBar::tab:hover {color:#f0f0f0; background-color: #d47e18;}
QTabBar::tab:!selected {background-color:#1f1f22;}
